@import "normalize.css";
@import "webflow.css";

   .heading {
     position: static;
     display: block;
     padding-top: 1%;
     padding-bottom: 1%;
     clear: none;
     font-family: Verdana, Geneva, sans-serif;
     color: #fff;
     font-size: 3em;
     line-height: 1.1em;
     text-align: center;
   }

   .titulo2 {
     display: block;
     text-align: center;
   }

   .column {
     position: relative;
     left: 0px;
     top: 0px;
     right: 0px;
     bottom: 0px;
     display: block;
   }

   .heading-3 {
     margin-top: auto;
     margin-bottom: auto;
     font-size: 1.5em;
     line-height: 1em;
     text-align: center;
   }

   .caracteristicas {
     position: static;
     display: block;
   }

   .row {
     position: relative;
     left: 0px;
     top: 0px;
     right: 0px;
   }

   .barra_fixa {
     position: fixed;
     left: 0px;
     top: 0px;
     right: 0px;
     z-index: 2;
     background-image: -webkit-linear-gradient(270deg, transparent, rgba(0, 0, 0, .76) 21%, rgba(0, 0, 0, .75) 80%, transparent);
     background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, .76) 21%, rgba(0, 0, 0, .75) 80%, transparent);
     text-align: center;
   }

   .body {
     padding-top: 407px;
     background-image: url("../images/fundo_pc.jpg");
     background-position: 50% 50%;
     background-size: 100%;
     background-repeat: repeat-y;
   }

   .barra_imagens {
     position: absolute;
     left: 0px;
     top: 196px;
     right: 0px;
     z-index: 1;
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     overflow: hidden;
     width: 100%;
     height: auto;
     min-height: 15%;
     float: none;
     clear: none;
     -webkit-box-orient: horizontal;
     -webkit-box-direction: normal;
     -webkit-flex-direction: row;
     -ms-flex-direction: row;
     flex-direction: row;
     -webkit-box-pack: center;
     -webkit-justify-content: center;
     -ms-flex-pack: center;
     justify-content: center;
     -webkit-flex-wrap: nowrap;
     -ms-flex-wrap: nowrap;
     flex-wrap: nowrap;
     -webkit-box-align: center;
     -webkit-align-items: center;
     -ms-flex-align: center;
     align-items: center;
     background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, 0), rgba(0, 0, 0, .75) 15%, rgba(0, 0, 0, .75) 85%, hsla(0, 0%, 100%, 0));
     background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0), rgba(0, 0, 0, .75) 15%, rgba(0, 0, 0, .75) 85%, hsla(0, 0%, 100%, 0));
   }

   .barra_carb_diam {
     position: fixed;
     left: 0px;
     top: 8%;
     right: 0px;
     z-index: 2;
     background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, 0), rgba(0, 0, 0, .75) 15%, rgba(34, 34, 34, .75) 85%, hsla(0, 0%, 100%, 0));
     background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0), rgba(0, 0, 0, .75) 15%, rgba(34, 34, 34, .75) 85%, hsla(0, 0%, 100%, 0));
   }


   .imagem {
     position: relative;
     left: 0px;
     top: 0px;
     right: 0px;
     bottom: 0px;
     display: block;
     overflow: visible;
     height: 16.6%;
     text-align: left;
   }

   .div_img {
     position: static;
     left: 0px;
     top: 0px;
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     overflow: hidden;
     width: auto;
     height: auto;
     float: none;
     clear: none;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -webkit-flex-direction: column;
     -ms-flex-direction: column;
     flex-direction: column;
     -webkit-box-pack: center;
     -webkit-justify-content: center;
     -ms-flex-pack: center;
     justify-content: center;
     -webkit-box-align: center;
     -webkit-align-items: center;
     -ms-flex-align: center;
     align-items: center;
     -webkit-box-flex: 0;
     -webkit-flex: 0 0 auto;
     -ms-flex: 0 0 auto;
     flex: 0 0 auto;
   }

   .image {
     display: block;
     -webkit-box-flex: 0;
     -webkit-flex: 0 auto;
     -ms-flex: 0 auto;
     flex: 0 auto;
   }

   .utility-page-wrap {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     width: 100vw;
     height: 100vh;
     max-height: 100%;
     max-width: 100%;
     -webkit-box-pack: center;
     -webkit-justify-content: center;
     -ms-flex-pack: center;
     justify-content: center;
     -webkit-box-align: center;
     -webkit-align-items: center;
     -ms-flex-align: center;
     align-items: center;
   }

   .utility-page-content {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     width: 260px;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -webkit-flex-direction: column;
     -ms-flex-direction: column;
     flex-direction: column;
     text-align: center;
   }

   .utility-page-form {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -webkit-flex-direction: column;
     -ms-flex-direction: column;
     flex-direction: column;
     -webkit-box-align: stretch;
     -webkit-align-items: stretch;
     -ms-flex-align: stretch;
     align-items: stretch;
   }


   .linha_horizontal {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     margin-top: 1%;
     margin-bottom: 1%;
     -webkit-box-orient: horizontal;
     -webkit-box-direction: normal;
     -webkit-flex-direction: row;
     -ms-flex-direction: row;
     flex-direction: row;
     -webkit-box-pack: center;
     -webkit-justify-content: center;
     -ms-flex-pack: center;
     justify-content: center;
     -webkit-box-align: center;
     -webkit-align-items: center;
     -ms-flex-align: center;
     align-items: center;
     text-align: center;
   }

   .texto {
     display: block;
     width: 75%;
     padding: 2%;
     -webkit-box-orient: horizontal;
     -webkit-box-direction: normal;
     -webkit-flex-direction: row;
     -ms-flex-direction: row;
     flex-direction: row;
     -webkit-box-pack: center;
     -webkit-justify-content: center;
     -ms-flex-pack: center;
     justify-content: center;
     -webkit-box-align: center;
     -webkit-align-items: center;
     -ms-flex-align: center;
     align-items: center;
     background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, .5), hsla(0, 0%, 100%, .5));
     background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .5), hsla(0, 0%, 100%, .5));
     font-size: 1.5em;
     line-height: 1.5em;
     text-align: center;
   }

   .image-3 {
     position: static;
     left: 0px;
     top: 0px;
     right: 0px;
     bottom: 0px;
     display: inline-block;
     overflow: visible;
     float: none;
     clear: none;
     -webkit-box-flex: 0;
     -webkit-flex: 0 auto;
     -ms-flex: 0 auto;
     flex: 0 auto;
     text-align: left;
   }

   .centrado {
     position: static;
     left: 0px;
     top: 0px;
     right: 0px;
     bottom: 0px;
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     width: auto;
     height: 10px;
     -webkit-box-orient: horizontal;
     -webkit-box-direction: normal;
     -webkit-flex-direction: row;
     -ms-flex-direction: row;
     flex-direction: row;
     -webkit-box-pack: center;
     -webkit-justify-content: center;
     -ms-flex-pack: center;
     justify-content: center;
     -webkit-box-align: center;
     -webkit-align-items: center;
     -ms-flex-align: center;
     align-items: center;
     background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, 0), rgba(0, 0, 0, .5) 50%, hsla(0, 0%, 100%, 0));
     background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0), rgba(0, 0, 0, .5) 50%, hsla(0, 0%, 100%, 0));
     text-align: center;
   }

   .coluna {
     position: static;
     left: 0px;
     top: 0px;
     right: 0px;
     bottom: 0px;
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -webkit-flex-direction: column;
     -ms-flex-direction: column;
     flex-direction: column;
     -webkit-box-pack: center;
     -webkit-justify-content: center;
     -ms-flex-pack: center;
     justify-content: center;
     -webkit-box-align: center;
     -webkit-align-items: center;
     -ms-flex-align: center;
     align-items: center;
     text-align: center;
   }

   .column-3 {
     position: static;
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -webkit-flex-direction: column;
     -ms-flex-direction: column;
     flex-direction: column;
     -webkit-box-pack: center;
     -webkit-justify-content: center;
     -ms-flex-pack: center;
     justify-content: center;
     -webkit-box-align: center;
     -webkit-align-items: center;
     -ms-flex-align: center;
     align-items: center;
     text-align: center;
   }

   .column-4 {
     position: static;
   }

   .footer {
     text-align: center;
   }

   .site_exprimental {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     text-align: center;
     display: flex;
     padding-top: 3%;
     padding-bottom: 3%;
     -webkit-box-orient: horizontal;
     -webkit-box-direction: normal;
     -webkit-flex-direction: row;
     -ms-flex-direction: row;
     flex-direction: row;
     -webkit-box-pack: center;
     -webkit-justify-content: center;
     -ms-flex-pack: center;
     justify-content: center;
     -webkit-box-align: center;
     -webkit-align-items: center;
     -ms-flex-align: center;
     align-items: center;
   }

   .button {
     position: static;
     display: block;
     -webkit-box-flex: 0;
     -webkit-flex: 0 auto;
     -ms-flex: 0 auto;
     flex: 0 auto;
     background-color: rgba(46, 46, 46, .73);
     font-size: 2em;
   }

   .button:hover {
     background-color: rgba(0, 0, 0, .73);
   }

   .transparencia_branca {
     position: fixed;
     left: 0px;
     top: 0px;
     right: 0px;
     bottom: 0px;
     z-index: -1;
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: horizontal;
     -webkit-box-direction: normal;
     -webkit-flex-direction: row;
     -ms-flex-direction: row;
     flex-direction: row;
     -webkit-box-pack: justify;
     -webkit-justify-content: space-between;
     -ms-flex-pack: justify;
     justify-content: space-between;
     -webkit-box-align: stretch;
     -webkit-align-items: stretch;
     -ms-flex-align: stretch;
     align-items: stretch;
   }

   .coluna_transparente {
     background-image: -webkit-linear-gradient(0deg, transparent, hsla(0, 0%, 100%, .4) 40%, hsla(0, 0%, 100%, .4) 60%, transparent);
     background-image: linear-gradient(90deg, transparent, hsla(0, 0%, 100%, .4) 40%, hsla(0, 0%, 100%, .4) 60%, transparent);
   }

   html.w-mod-js *[data-ix="entrar_esq"] {
     opacity: 0;
     -webkit-transform: translate(400px, 0px);
     -ms-transform: translate(400px, 0px);
     transform: translate(400px, 0px);
   }

   html.w-mod-js *[data-ix="entrar_dir"] {
   opacity: 0;
   -webkit-transform: translate(-400px, 0px);
   -ms-transform: translate(-400px, 0px);
   transform: translate(-400px, 0px);
 }


   @media (max-width: 991px) {
     .body {
       padding-top: auto;
     }
     .div_img {
       display: block;
       height: auto;
     }
   }
